{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "jest/globals": true,
    },
    "plugins": [
        "jest"
    ],
    "rules": {
        "react/jsx-filename-extension": "off"
    }
}
