{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "jest/globals": true,
    },
    "plugins": [
        "jest"
    ],
    "rules": {
        "react/jsx-filename-extension": "off",
        "jsx-a11y/no-noninteractive-element-interactions": "off",
        "jsx-a11y/anchor-has-content": "off"
        
    }
}
