<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>

<div id="root">
</div>

<script type="text/javascript" src="/js/webpack/main.js"></script>
<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>

