<body class="theme-cyan" style="background-image: linear-gradient(0deg, rgb(118, 85, 137), rgb(241, 157, 207));">
<div class="authentication">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-9 col-md-7 col-xs-12">
                <div class="l-detail">
                    <h5>Welcome</h5>
                    <h1>Slack<span>YY</span></h1>
                    <h3>Sign in to start your session</h3>
                    <p>Just another chat service!</p>
                    <ul class="list-unstyled l-social">
                      <li><a href="https://www.facebook.com/psibi"><i class="zmdi zmdi-facebook-box"></i></a></li>
                      <li><a href="https://www.linkedin.com/in/psibi"><i class="zmdi zmdi-linkedin-box"></i></a></li>
                      <li><a href="https://github.com/psibi"><i class="zmdi zmdi-github"></i></a></li>
                      <li><a href="https://twitter.com/psibi"><i class="zmdi zmdi-twitter"></i></a></li>
                      <li><a href="https://stackoverflow.com/users/1651941/sibi"><i class="zmdi zmdi-stackoverflow"></i></a></li>
                      <li><a href="https://plus.google.com/+SibiPrabakaran"><i class="zmdi zmdi-google-plus-box"></i></a></li>
                      <li><a href="https://www.reddit.com/user/sibip"><i class="zmdi zmdi-reddit"></i></a></li>
                      <li><a href="https://www.slideshare.net/psibi"><i class="zmdi zmdi-slideshare"></i></a></li>
                      <li><a href="http://psibi.in"><i class="zmdi zmdi-view-web"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-xs-12" id="root">
              
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/webpack/signup.js"></script>
</body>
